<% if @account.requests.present?  %>
	<h1>Requests to this account:</h1>
	<table>
	 	<% @account.requests.each do |request|%>
	 		<tr>
	 			<td>
	 				<span>
	 					<%= request.user.name %>
	 					(<%= request.user.email %>)
	 				</span>		
	 				<br>
	 				<%= link_to "Accept", accept_request_account_path(@account, :member_id => request.id),:method => :put %> | 
	 				<%= link_to "Reject", reject_request_account_path(@account, :member_id => request.id), :method => :delete %>
	 			</td>
	 		</tr>
	 	<% end %>
	</table> 	
<% end %>